/* .img {
width: 100vw;
height: 100vh;
grid-area: header;
} */
.nav {
    grid-area: nav;
    display: flex;
}
.header {
    grid-area: header;
    /* z-index: 5; */
    align-self: center;
    text-align: center;
}
.landing-page-container {
    display: grid;
    place-items: center;
    width: 100vw;
    grid-template-areas: 
        "nav"
        "header";   
}
.login-container {
    display: grid;
    border: 3px solid white;
    font-size: 1.3rem;
    padding: 0 1rem;
    grid-area: login;
    background-color: rgb(0,0,0,0.7); 
    border-radius: 1rem;
    height: fit-content;
    margin-top: 2vh;
}
.login-container input {
    padding: 1rem;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 0.3rem;
    margin: 1rem;
    font-size: 1.2rem;
}
.login-container button {
    background-color: black;
    border: 1px solid white;
    margin: 1rem;
    border-radius: 1rem;
    color: white;
}
.login-container a {
    justify-self: center;
    font-size: 1.2rem;
   margin-bottom: 1rem;
}
.landing-page-container h2 {
    justify-self: center;
    text-decoration: underline;
    text-decoration-color: #646cff;
}
.login-container label{
    justify-self: start;
}
.adda {
    font-size: 3rem;
    align-self: end;
    margin-bottom: 0rem;
    color:#646cff;
}
.weeb {
    font-size: 3rem;
    margin: 0;
    padding-right: 0.5rem;
}