.profile-container {
    display: flex;
    flex-direction: row;
}
@media screen and (max-width:625px)
{
    .profile-container {
        display: flex;
        flex-direction: column-reverse;
    }
}