.filter-container {
    display: flex;
    font-size: 1.8rem;
    border: 1px solid white;
    border-radius: 2rem;
    margin:1rem;
    min-width: min-content;
    padding: 0 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: center;
}
.filter-container hr {
    align-self: stretch;
}
.icon {
    margin: 0 1rem;
}
.latest {
    padding-right: 1rem;
}
.icon-active {
    margin: 0 1rem;
    color: #535bf2;
}
.filter-container p:hover {
    cursor: pointer;
    color: #535bf2;
}
@media screen and (max-width:625px)
{
    .filter-container {
        font-size: 1rem;
    }
}