.home-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
}
.posts-list-container {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    min-width: 10rem;
    max-width: 100%;
    flex-grow: 1;
}
.post-list-item {
    margin:1rem;
    max-width:100%;
    min-width: 10rem;
    
}
.bookmark, .explore {
    text-decoration: underline;
    text-decoration-color: #646cff;
}
.noEnemies {
    position: relative;
    display: inline-block;
    color: #646cff;
  }
  
.noEnemies::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 1.07rem;
    width: 100%;
    height: 5px;
    background-color: white;
}
@media screen and (max-width:625px)
{
    .home-container {
        display: flex;
        flex-direction: column-reverse;
        width: 100vw;
    }
    .posts-list-container {
        padding-inline-start: 0;
        padding: 0 0.5rem;
        box-sizing: border-box;
    }
    .post-list-item {
        margin: 1rem 0;
    }
}